
.container{
    max-width: 90%;
    font-family:Arial, Helvetica, sans-serif;
}


.img{
    width: 50%;
    margin-left: 25%;
    text-align: center;
    
}

.accordion{
    max-width: 100%;
    margin-bottom: 70px;
    
}

.accordion-button:not(.collapsed){
    background-color: #519B8A;
    color: white;
}

.accordion-button:focus{
    box-shadow: none !important;
    border: #519B8A 2px solid;
}

img.flex{
    max-width: 100%;
}

button.accordion-button.collapsed{
    background-color:#519B8A;
    color: white;
}
.Dona2{
    background-color: #FBB74D;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top:0;
    margin-bottom: 1%;
    text-align: center;
    color: black;
}
.row{
    margin-left: 0%;
    margin-right: 0%;
}
