/* pagina chi siamo*/
#centrascritta {
    margin-top: 1%;
}
.testochi {
    background-color: #519B8A;
    color: white;
    padding: 1.5%;
    border-radius: 3%;
    border-width: 20%;
}

.fotochi {
    padding-right: 1%;
}
.Dona3 {
    background-color: #FBB74D;
    padding-bottom: 2%;
    margin-bottom: 2%;
    padding-top: 5%;
    margin-top:4%;
    text-align: center;
    color: black;
}
.row {
    margin-right: 0% !important;
}
.titolo {
    text-align: center;
    padding-top: 8%;
    padding-bottom: 5%;
}
.cerchi{
    margin-top: 5%;
    margin-bottom: 5%;
}

.testochisiamo { 
    margin-top: 3%;
    margin-bottom: 3%;
}


.spazi {
    margin-top:0;
    margin-bottom:3%;
    text-align: center;
}


.mappa {
    width: 100%;
    height: 100%;
}

.orario {
  text-align: center;

}

.testoeora {
    margin-top: 8%;
    margin-bottom: 5%;
}

/*colore orario*/
.list-group-item {
    background-color: #ffffff;
    border-color: black;
}

.list-group-item.active {
    background-color: #519B8A;
    border-width: 2px;
    border-color: #FBB74D;
    font-weight: bold;
}

.bordoora {
    border-width: 2px;
    border-color: #FBB74D;
}

/*pagina donazioni*/

.testoDonaz { 
    background-color: #519B8A;
    color: white;
    padding-top: 3%;
    padding-bottom: 2%;
    border-radius: 2%;
}

#testobanner {
    margin-top: 10%;
    background-color: rgb(81, 155, 138, 0.6)
}
 

#sfondo {  /*anche per chi siamo*/
  border-radius: 8px;   
  background-image: url('../dog-shelter/img/banneradozioniMirror.jpg'); 
  background-position: right top;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0% 2% 2% 2%; 

}

.padfoto {
    padding-top: 1%;
}
.Dona2 {
    background-color: #FBB74D;
    padding-top: 5%;
    margin-top:6%;
    padding-bottom: 2%;
    margin-bottom: 5%;
    text-align: center;
    color: black;
}
.titoloiter {
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
}
.iter {
    text-align: center;
    padding-left: 2%;
    padding-right: 2%;
}

.home {
    padding-top: 5%;
}

.posfoto {
    padding-top: 10%;
}

.bisogni {
    padding-top: 2%;
    text-align: center;
    margin-top: 5%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 3%;
    border-style: solid;
    border-color: #519B8A;
}

#cane {
    margin-bottom: 2%;
}

.pad {
    padding-top: 2%;
}

.riga {
    border: 1px solid;
    border-color: #519B8A !important;
}


/* CARD ADOZIONI */
.profile-card-4 {
    max-width: 300px;
    background-color: #FFF;
    border-radius: 5px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
    margin: 10px auto;
    cursor: pointer;
}

.profile-card-4 img {
    transition: all 0.25s linear;
}

.profile-card-4 .profile-content {
    position: relative;
    padding: 15px;
    background-color: #FFF;
}

.profile-card-4 .profile-name {
    font-weight: bold;
    position: absolute;
    left: 0px;
    right: 0px;
    top: -70px;
    color: #FFF;
    font-size: 17px;
}

.profile-card-4 .profile-name p {
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 1.5px;
}

.profile-card-4 .profile-description {
    color: #777;
    font-size: 12px;
    padding: 10px;
}

.profile-card-4 .profile-overview {
    padding: 15px 0px;
}

.profile-card-4 .profile-overview p {
    font-size: 10px;
    font-weight: 600;
    color: #777;
}

.profile-card-4 .profile-overview h4 {
    color: #273751;
    font-weight: bold;
}

.profile-card-4 .profile-content::before {
    content: "";
    position: absolute;
    height: 20px;
    top: -10px;
    left: 0px;
    right: 0px;
    background-color: #FFF;
    z-index: 0;
    transform: skewY(3deg);
}

.profile-card-4:hover img {
    transform: rotate(5deg) scale(1.1, 1.1);
    filter: brightness(110%);
}

/*fine card*/