<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" th:href="@{static/css/bootstrap.min.css}" />
    <script th:src="@{static/javascript/bootstrap.bundle.min.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{static/css/Cookie.css}">
    <link rel="stylesheet" type="text/css" th:href="@{static/css/Footer_css.css}">
    <title th:text="${titolo}"></title>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>
<body>

    <!--banner-->
   <div class="Dona2">
    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-2">
            <img th:src="@{static/image/icona_cookie1.png}" width="80px" height="auto" />
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8">
          <h2 class="titolo">Cookie Policy</h2>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2">
            <img th:src="@{static/image/icona_cookie2.png}" width="80px" height="auto" />
        </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="tito">Cosa sono i Cookies?</h2>
                <p>I cookies sono piccoli file di testo salvati sul vostro computer dai siti web o applicazioni che visitate.
                    Sono ampiamente utilizzati per consentire il funzionamento dei siti web e delle applicazioni, o per farle lavorare più efficientemente, come anche per fornire informazioni al proprietario del sito web/applicazione.
                    
                    </p>
                <h2 class="tito">Come e perchè usiamo I cookies?</h2>
                <p>Usiamo I cookie per migliorare l'utilizzo e la funzionalità dei nostri siti web e/o applicazioni e avere una migliore comprensione di come i visitatori usano i nostri siti web/applicazioni e gli strumenti/servizi offerti dai siti stessi.

                    I cookie ci aiutano a personalizzare i siti web e le applicazioni sulle tue esigenze personali, per migliorare l'esperienza di utilizzo, ottenere un feedback sulla soddisfazione del cliente riguardo ai nostri siti web/applicazioni (tramite partner selezionati) e per comunicare con te ovunque nel web. Noi non utilizziamo i Cookie per raccogliere informazioni personali come il tuo nome; ad ogni modo, potremmo collegare informazioni contenute in un cookie a informazioni personali raccolte da te attraverso altri mezzi (es: registrazione a siti web/applicazioni).</p>
                <h2 class="tito">Che tipi di cookie sono usati?</h2>
                <p>Qui sotto trovate una descrizione dei vari cookie utilizzati all'interno dei nostri siti web/applicazioni.</p>
                <h2 class="tito">Cookie necessari</h2>
                <p>Questi sono cookie strettamente necessari per l'attività di un sito web/applicazione.
                    Senza questi cookie, il sito web/applicazione non funzioneranno correttamente. Conseguentemente, non vi chiediamo un consenso specifico per questa tipologia di cookie.</p>
                <h2 class="tito">Functional Cookies</h2>
                <p>Questi sono I cookie che vengono utilizzati per la funzionalità di un sito web/applicazione.
                    Ad esempio, Cookie che ricordano il contenuto che hai visto recentemente sul sito web/applicazione o l'indirizzo email o la password che hai fornito quando ti sei registrato durante una visita precedente del sito web/applicazione. Cookie possono anche tenere in memoria oggetti che hai precedentemente inserito nella shopping cart mentre visitavi uno store online Nestlè. Usare i cookie funzionali, quindi, ci permette di fornirti un contenuto personalizzato e legato e ai tuoi interessi, e a farti risparmiare tempo senza necessità di registrarsi nuovamente o reinserire le informazioni quando visiti di nuovo un sito web/applicazione o cerchi di accedere a una sezione riservata del sito.
                    Su alcuni siti web/applicazioni, i cookie ci permettono di registrare le tue ricette preferite, le attività, i punteggi migliori.
                    
                    </p>
                <h2 class="tito">First Party Cookies</h2>
                <p>Questi sono i cookie che sono scaricati da un sito web/applicazione specifica e possono essere letti solo da questo sito.</p>
                <h2 class="tito">Third Party Cookies</h2>
                <p>Questi sono cookie scaricati da una terza parte, che usiamo per differenti tipologie di servizi (ad esempio analisi statistiche o pubblicità).</p>
                <h2 class="tito">Come posso cambiare le impostazioni dei cookies?</h2>
                <p>Per favore verifica che le impostazioni del tuo computer/smartphone accettino o meno i cookie, in base alle tue scelte. Puoi impostare il tuo browser in modo che ti avvisi prima di accettare i cookie, oppure puoi semplicemente configurarlo in modo che li rifiuti automaticamente, sebbene, cosi facendo, non potrai avere accesso a tutte le funzionalità del sito. Per maggiori informazioni su come impostarli, puoi utilizzare il bottone "Help" del tuo browser. Non è necessario scaricare i cookie per poter navigare sulla maggior parte dei nostri siti. Ricordati che se utilizzi differenti computer in luoghi differenti, dovrai assicurarti che ogni browser sia configurato in modo da rispecchiare le tue preferenze sui cookie.</p>
                
            </div>
        </div>
    </div>
    

    <script>
        // scrollando in giù di 20 px compare il bottone per tornare su
        window.onscroll = function() {scrollFunction()};
    
        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                document.getElementById("myBtn").style.display = "block";
            } else {
                document.getElementById("myBtn").style.display = "none";
            }
          
        }
    
        // Cliccando il bottone, si torna su 
        function topFunction() {
        
            $('html, body').animate({scrollTop:0}, 'slow');
        }
      </script>
    
      <!--footer-->
      <div class="row">
        <div class="col-lg-10"></div>
        <div class="col-lg-2">
          <button onclick="topFunction()" id="myBtn" title="Go to top">Vai su</button>
        </div>
      </div> 
    
         <footer id="footer">
         
            
                <div class="container">
                <!--loghi e immagini-->
                <div class="row icon_center">
                  <div class="col-lg-3 col-md-3 col-sm-3 col-12 padimg">
                    <a th:href="@{/home}" data-bs-toggle="backtop" class="back-to-top">
                      <img th:src="@{static/image/logofooter.png}" width="150px" heigth="auto" id="position" />
                    </a>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-12 padimg">
                    <img th:src="@{static/image/leidalogobianco.png}" width="120px" heigth="auto" />
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-12 padimg">
                    <img th:src="@{static/image/enpalogo.png}" width="80px" heigth="auto" />
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-12 padimg">
                    <img th:src="@{static/image/ancdvlogo.png}" width="80px" heigth="auto"/>
                  </div>
                </div>
                 
    
                  <!--cotenuto footer-->
                  <div class="row footer-align padcontent">
                      
                    <div class="col-lg-3 col-md-3 col-sm-3 col-12"><h6>Recapiti e contatti</h6>
                      <div class="col-12">
                        <ul class="elenco">
                          <li>Aperti dal lunedì alla domenica<br>Orario: 10:00 - 18:00</li>
                          <li> Email: amicia4zampe@gmail.com </li>
                          <li>Tel: 06 98875859</li>
                        </ul></div></div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-12"><h6></h6></div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-12"><h6>Informazioni</h6>
                      <div class="col-12">
                        <ul class="elenco">
                          <li><a class="linkstyle" th:href="@{/privacy}">Privacy policy</a></li>
                          <li><a class="linkstyle" th:href="@{/cookie}">Cookie policy</a></li>
                          <li><a class="linkstyle" th:href="@{/faq}">FAQ</a></li>
                         <!-- <li><a class="linkstyle" href="">Termini e condizioni</a></li> -->
                        </ul>
                      </div></div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-12"><h6></h6></div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-12"><h6>Link utili</h6>
                      <div class="col-12">
                        <ul class="elenco">
                          <li><a class="linkstyle" th:href="@{/chiSiamo}">Chi siamo</a></li>
                          <li><a class="linkstyle" th:href="@{/adozioni}">Adotta un cane</a></li>
                          <li><a class="linkstyle" th:href="@{/donazioni}">Donazioni</a></li>
                          <li><a class="linkstyle" th:href="@{/riservata}">Accesso staff</a></li>
                        </ul>
                      </div></div>
                  </div>
                  <br>
                   
                  <div class="row footer_center">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-12"></div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-12">
                      <p>Amici a 4 zampe S.R.L. Via della Magliana, 856 - 00148 Roma (RM), IT P.IVA IT09677741218 
                      </p>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-12"></div>
                  </div>
                  
                  <div class="row footer_center">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-12"></div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-12">
                      <p> © 2022 Jarm68. All rights reserved.
                      </p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-12"></div>
                  </div>
                
                </div>
              
    
          </footer>

</body>
</html>