<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script th:src="@{static/javascript/bootstrap.bundle.min.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{static/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{static/css/FAQ.css}">
    <link rel="stylesheet" type="text/css" th:href="@{static/css/Footer_css.css}">
    <title th:text="${titolo}"></title>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>
<body>
   <!--banner-->
   <div class="Dona2">
    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-2">
            <img th:src="@{static/image/icona_faq1.png}" width="80px" height="auto" />
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8">
          <h2 class="titolo">Domande frequenti</h2>
          <h5 class="titolo">Trovi qui le risposte alle tue domande</h5>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2">
            <img th:src="@{static/image/icona_faq2.png}" width="80px" height="auto" />
        </div>
    </div>
</div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="img"> 
                    <img class="flex" th:src="@{static/image/bannerfaq.jpg}">
                </div>
                <div class="accordion"  id="accordionExample">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                           <strong> Quale procedura bisogna seguire per adottare un cane presso il vostro rifugio?</strong>
                        </button>
                      </h2>
                      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                          <p>E' necessario venire a visitare il rifugio per scegliere il cane. I volontari vi aiuteranno nella scelta in base alle vostre richieste e alle caratteristiche del soggetto. In un secondo tempo dovrete compilare il "modulo di adozione", che verrà visionato dalla responsabile delle adozioni. Successivamente verrete contattati per il PREAFFIDO. Se questo darà esito positivo, se la situazione sarà cioè idonea per il cane, sarà possibile ritirare il vostro nuovo amico.</p>
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <strong>Cosa occorre fare per iniziare l'esperienza del volontariato?</strong>
                        </button>
                      </h2>
                      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                           <p> Occorre presentarsi al rifugio e parlare inizialmente con un responsabile o con un volontario esperto, che vi spiegherà per filo e per segno le diverse mansioni possibili e vi accompagnerà durante tutto il periodo di prova. Solo dopo l'iscrizione all'associazione con tanto di assicurazione e dopo un variabile, in termini di tempo, periodo di prova, sarà possibile muoversi in modo autonomo nella struttura e relazionarsi direttamente con i cani. </p>
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                          <strong>Per adottare un cane bisogna pagare o lasciare un contributo?</strong>
                        </button>
                      </h2>
                      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                          <p>No, non bisogna pagare, il contributo non è richiesto, l'offerta è sempre ben accetta.</p>
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingFour">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                           <strong>In che cosa consiste il PREAFFIDO?</strong>
                          </button>
                        </h2>
                        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                          <div class="accordion-body">
                            <p>
                              Consiste in un colloquio diretto con la responsabile delle adozioni, che si svolge di prassi presso l'abitazione in cui vivrà il cane. Serve a garantire l'idoneità dell'adozione e a prevenire i RIENTRI in canile.</p>
                          </div>
                        </div>
                      </div>
            </div>
        </div>
    </div>


    <script>
      // scrollando in giù di 20 px compare il bottone per tornare su
      window.onscroll = function() {scrollFunction()};
    
      function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
          document.getElementById("myBtn").style.display = "block";
        } else {
          document.getElementById("myBtn").style.display = "none";
        }
        
      }
    
      // Cliccando il bottone, si torna su 
      function topFunction() {
      
        $('html, body').animate({scrollTop:0}, 'slow');
      }
      </script>
    
      <!--footer-->
      <div class="row">
      <div class="col-lg-10"></div>
      <div class="col-lg-2">
        <button onclick="topFunction()" id="myBtn" title="Go to top">Vai su</button>
      </div>
      </div> 
    
       <footer id="footer">
       
        
          <div class="container">
          <!--loghi e immagini-->
          <div class="row icon_center">
            <div class="col-lg-3 col-md-3 col-sm-3 col-12 padimg">
            <a th:href="@{/home}" data-bs-toggle="backtop" class="back-to-top">
              <img th:src="@{static/image/logofooter.png}" width="150px" heigth="auto" id="position" />
            </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-12 padimg">
            <img th:src="@{static/image/leidalogobianco.png}" width="120px" heigth="auto" />
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-12 padimg">
            <img th:src="@{static/image/enpalogo.png}" width="80px" heigth="auto" />
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-12 padimg">
            <img th:src="@{static/image/ancdvlogo.png}" width="80px" heigth="auto"/>
            </div>
          </div>
           
    
            <!--cotenuto footer-->
            <div class="row footer-align padcontent">
              
            <div class="col-lg-3 col-md-3 col-sm-3 col-12"><h6>Recapiti e contatti</h6>
              <div class="col-12">
              <ul class="elenco">
                <li>Aperti dal lunedì alla domenica<br>orario: 10:00 - 18:00</li>
                <li> Email: amicia4zampe@gmail.com </li>
                <li>Tel: 06 98875859</li>
              </ul></div></div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-12"><h6></h6></div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-12"><h6>Informazioni</h6>
              <div class="col-12">
              <ul class="elenco">
                <li><a class="linkstyle" th:href="@{/privacy}">Privacy policy</a></li>
                <li><a class="linkstyle" th:href="@{/cookie}">Cookie policy</a></li>
                <li><a class="linkstyle" th:href="@{/faq}">FAQ</a></li>
               <!-- <li><a class="linkstyle" href="">Termini e condizioni</a></li> -->
              </ul>
              </div></div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-12"><h6></h6></div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-12"><h6>Link utili</h6>
              <div class="col-12">
              <ul class="elenco">
                <li><a class="linkstyle" th:href="@{/chiSiamo}">Chi siamo</a></li>
                <li><a class="linkstyle" th:href="@{/adozioni}">Adotta un cane</a></li>
                <li><a class="linkstyle" th:href="@{/donazioni}">Donazioni</a></li>
                <li><a class="linkstyle" th:href="@{/riservata}">Accesso staff</a></li>
              </ul>
              </div></div>
            </div>
            <br>
             
            <div class="row footer_center">
            <div class="col-lg-2 col-md-2 col-sm-2 col-12"></div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-12">
              <p>Amici a 4 zampe S.R.L. Via della Magliana, 856 - 00148 Roma (RM), IT P.IVA IT09677741218 
              </p>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-12"></div>
            </div>
            
            <div class="row footer_center">
            <div class="col-lg-4 col-md-4 col-sm-4 col-12"></div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-12">
              <p> © 2022 Jarm68. All rights reserved.
              </p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-12"></div>
            </div>
          
          </div>
          
    
        </footer>
    
</body>
</html>