<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--Head-->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${titolo}"></title>
    <!--Link Css-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" th:href="@{static/css/Footer_css.css}">
    <link type="text/css" rel="stylesheet" th:href="@{static/css/Home_css.css}">
    <link type="text/css" rel="stylesheet" th:href="@{static/css/Header_css.css}">
    <link type="text/css" rel="stylesheet" th:href="@{static/css/Stile.css}">
    
</head>

<!--Body-->

<body>
    
    <!--Script -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>

    <!--HeadBar e NavBar-->
    <div class="container-fluid"  >
        <!--Header-->
        <header class="position">
                <div class="row"  >
                    <div class="Mheaderbar col-12 col-md-12 " >
                        <ul type="none">
                            <li>
                                <p id="Mheaderbartext">Trova il tuo prossimo migliore amico! Resta in contatto con noi:
                                    <img th:src="@{static/image/cornetta.png}" alt="cornetta" width="18" height="18"
                                        class="cornetta">
                                    <a id="linktel" href="tel:0239623793" target="_blank">06 98875859</a>
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
                <nav class="navBase">
                  <div class="row mContainer ">
                      <div class="col-12 col-md-12 " style="padding-right: 0;padding-left: 0;">
                          <nav class="navbar Mnavbar bg-darkm justify-content-center">
                              <ul class="nav ">
                                  <li class="nav-item"><a class="navhover nav-link mNav-link" th:href="@{/home}">Home</a></li>
                                  <li class="nav-item"><a class="navhover nav-link mNav-link" th:href="@{/adozioni}">Adotta un cane</a></li>
                                  <li class="nav-item"><a class="nav-link logo " href="#">
                                          <div class="wrapper  bg-darkm "><img
                                                  th:src="@{static/image/logopaginaPWcane.png}" class="hoverimgnav">
                                          </div>
                                      </a></li>
                                  <li class="nav-item"><a class="navhover nav-link mNav-link" th:href="@{/chiSiamo}">Chi siamo&nbsp</a></li>
                                  <li class="nav-item"><a class="navhover nav-link mNav-link" th:href="@{/donazioni}">Donazioni</a></li>
                              </ul>
                          </nav>
                      </div>
                  </div>
              </nav>
      <nav class="navMedia">
                  <div class="row mContainer ">
                      <div class="col-12 col-md-12 " style="padding-right: 0;padding-left: 0;">
                          <nav class="navbar Mnavbar bg-darkm justify-content-center">
                             
                              <div class="row nav nav2row">
                                <div class="col-6 col-sm-1  col-lg-1 justify-content-end  nav-item"><a class="nav-link logo2 " href="#">
                                  <div class="bg-darkm wrapper2  "><img
                                    th:src="@{static/image/logofooter.png}" class="hoverimgnav imgnavbar2">
                                  </div></a></div>
                                  <div class="col-6 col-sm-1  col-lg-1 justify-content-end  nav-item"><a class="nav-link logo2 " href="#">
                                    <div class="bg-darkm wrapper2  "><img
                                      th:src="@{static/image/logonav2.png}" class="hoverimgnav imgnavbar3">
                                    </div></a></div>
                                <div class="col-6 col-sm-2  col-lg-2  justify-content-end nav-item navbar2-item"><a class="" th:href="@{/home}">Home</a></div>
                                <div class="col-6 col-sm-3  col-lg-3 justify-content-end  nav-item navbar2-item"><a class="" th:href="@{/adozioni}">Adotta</a></div>
                                <div class="col-6 col-sm-3 col-lg-3  justify-content-end nav-item navbar2-item"><a class="" th:href="@{/chiSiamo}">Chi siamo &nbsp </a></div>
                                <div class="col-6 col-sm-2  col-lg-2 justify-content-end  nav-item navbar2-item"><a class="" th:href="@{/donazioni}">Donazioni</a></div>
                              </div>




                          </nav>
                      </div>
                  </div>
                </nav>
        </header>
    </div>

        <main>
            <article>
                <!--Sezione carosello1 con div container proprio-->
                <section class="posizioneCar carosello" >
                    <div class="row " style="margin-left: 0%; margin-right: 0%;" >
                        <div class="col-12 col-md-12" style="padding-right: 0;padding-left: 0; z-index: 0; ">

                            <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                  <div class="carousel-item active">
                                    <img th:src="@{static/image/caro1.jpg}" class="d-block w-101" alt="...">
                                  </div>
                                  <div class="carousel-item">
                                    <img th:src="@{static/image/caro2.jpg}" class="d-block w-101" alt="...">
                                  </div>
                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                                  <span class="carousel-control-prev-icon" style="display: none;" aria-hidden="true"></span>
                                  <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                                  <span class="carousel-control-next-icon" style="display: none;" aria-hidden="true"></span>
                                  <span class="visually-hidden">Next</span>
                                </button>
                              </div>
    
                        </div>
                    </div>
                </section>
    
                <!--Card info Iter Adozioni-->
                <section style="margin-top: 4%;"> 
                    <div class="container text-center ">
                        <h2 class="titoloiter">L'iter adottivo è più semplice e veloce di quanto pensi !</h2>
                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-sm-6 col-12 iter">
                              <img class="tondi carousel-cell-mc" th:src="@{static/image/logocane2.png}" width="125px" height="auto" style="padding-bottom:3%;" />
                                <h5 class="home">Scelta del pet</h5>
                                Ricerca nella galleria e trova la tua anima gemella a 4 zampe.
                                
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6 col-12 iter">
                              <img class="tondi" th:src="@{static/image/logomodulo.png}" width="125px" height="auto" style="padding-bottom:3%;"/>
                                <h5 class="home">Modulo preaffido</h5>
                                Compila il modulo e inviacelo tramite email.
                                
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6 col-12 iter">
                              <img class="tondi" th:src="@{static/image/colloquiologo.png}" width="125px" height="auto" style="padding-bottom:3%;"/>
                                <h5 class="home">Colloquio preaffido</h5>
                                Effettuerai un colloquio conoscitivo e per discutere dell' adozione.
                                
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6 col-12 iter">
                              <img class="tondi" th:src="@{static/image/modulologo2.png}" width="125px" height="auto" style="padding-bottom:3%;"/>
                                <h5 class="home">Documenti di adozione</h5>
                                Firma i documenti forniti per il passaggio di proprietà del pet.
                                
                            </div>
                        </div>
                    </div>
                </section>
    
                  <!--Carosello card ultimi arrivati-->
                  <section>
                    <div class="row" >
                        <div class="col-12 col-md-12 " >
                            <h3 id="testoadott">Gli ultimi arrivati </h3>
                            <div class="container rece">
                            <div class="row row-cols-1 row-cols-md-3 g-4">
                              <div class="col-12 col-sm-6 col-md-4 col-lg-4">
                                <div class="card">
                                  <a th:href="@{/scheda(id=${cani[0].id})}"><img th:src="@{'static/cani/' + ${cani[0].id} + '.png'}" class="card-img-top "></a>
                                  <div class="card-body">
                                    <h5 class="card-title" th:text="${cani[0].nome}"></h5>
                                    <p class="card-text  testocardadottati" th:text="${cani[0].eta} + ' anni'"></p>
                                    <p class="card-text  testocardadottati" th:text="'Arrivato il ' + ${#dates.format(cani[0].arrivo, 'dd-MM-yyyy')}"></p>
                                  </div>
                                </div>
                              </div>
                              <div class="col-12 col-sm-6 col-md-4 col-lg-4">
                                <div class="card">
                                  <a th:href="@{/scheda(id=${cani[1].id})}"><img th:src="@{'static/cani/' + ${cani[1].id} + '.png'}" class="card-img-top "></a>
                                  <div class="card-body">
                                    <h5 class="card-title" th:text="${cani[1].nome}"></h5>
                                    <p class="card-text testocardadottati" th:text="${cani[1].eta} + ' anni'"></p>
                                    <p class="card-text  testocardadottati" th:text="'Arrivato il ' + ${#dates.format(cani[1].arrivo, 'dd-MM-yyyy')}"></p>
                                  </div>
                                </div>
                              </div>
                              <div class="col-12 col-sm-6 col-md-4 col-lg-4">
                                <div class="card">
                                  <a th:href="@{/scheda(id=${cani[2].id})}"><img th:src="@{'static/cani/' + ${cani[2].id} + '.png'}" class="card-img-top "></a>
                                  <div class="card-body">
                                    <h5 class="card-title" th:text="${cani[2].nome}"></h5>
                                    <p class="card-text testocardadottati" th:text="${cani[2].eta} + ' anni'"></p>
                                    <p class="card-text  testocardadottati" th:text="'Arrivato il ' + ${#dates.format(cani[2].arrivo, 'dd-MM-yyyy')}"></p>
                                  </div>
                                </div>
                              </div>
                              
                            </div>
                          </div>
                        </div>
                    </div>
    
    
                </section>
    
                <!--banner x donazioni-->
                <section>
                    <div class="container1" id="rcorners3" >
                        <div class="row">
                            <div class="col-8 col-md-9 col-lg-9" style="padding:0.5% 0% 0% 6%;">
                                <h5 id="opacbg">Vuoi sostenere il nostro progetto? Se puoi aiutarci, consulta la sezione per le
                                    donazioni!</h5>
                            </div>
                            <div class="col-4 col-md-3 col-lg-3" style="
                                padding: 1px 15px 0px 20px;">
                                <button type="button" class="buttonmat "><a th:href="@{/donazioni}"
                                        id="linkstyle">Dona ora!</a></button>
                            </div>
                        </div>
                    </div>
                </section>
    
                <!--Carosello card ADOTTATI-->
                <section>
                    <div class="row">
                        <div class="col-12 col-md-12 " >
                            <h3 id="testoadott">I feedback dei nostri adottanti</h3>
                            <div class="container rece">
                            <div class="row row-cols-1 row-cols-md-3 g-4">
                              <div class="col-6">
                                <div class="card">
                                  <img th:src="@{static/image/adott3.jpg}" class="card-img-top cardimg" alt="...">
                                  <div class="card-body">
                                    <h5 class="card-title">Clarissa e Stella</h5>
                                    <p class="card-text  testocardadottati">Non posso che essere grata ad "Amici a 4 zampe",un vero e proprio filtro che, grazie alle sue schede informative,aiuta chi è alla ricerca di un compagno 
                                      a quattro zampe da adottare.
                                      </p>
                                  </div>
                                </div>
                              </div>
                              <div class="col-6">
                                <div class="card">
                                  <img th:src="@{static/image/adott1.jpg}" class="card-img-top cardimg" alt="...">
                                  <div class="card-body">
                                    <h5 class="card-title">Giulio e Leon</h5>
                                    <p class="card-text testocardadottati">Per molte settimane non ho fatto altro che cercare pagine di rifugi ed associazioni perchè volevo adottare un cagnolino,finchè non mi sono imbattuto nell'annuncio di Leon! &nbsp</p>
                                  </div>
                                </div>
                              </div>
                              <div class="col-6">
                                <div class="card">
                                  <img th:src="@{static/image/adott2.jpg}" class="card-img-top cardimg" alt="...">
                                  <div class="card-body">
                                    <h5 class="card-title">Daniele e Rocky</h5>
                                    <p class="card-text testocardadottati">Grazie ad "Amici a 4 zampe" ho conosciuto Rocky e da subito ho capito che era il cagnolino che stavo cercando, un uragano di gioia che riempie le mie giornate. Non avrei potuto chiedere di meglio</p>
                                  </div>
                                </div>
                              </div>
                              
                            </div>
                          </div>
                        </div>
                    </div>
    
    
                </section>
    
            </article>
        </main>

        <script src="js/bootstrap.min.js"></script>
        <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
              
        <script>
          // scrollando in giù di 20 px compare il bottone per tornare su
          window.onscroll = function() {scrollFunction()};
      
          function scrollFunction() {
              if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                  document.getElementById("myBtn").style.display = "block";
              } else {
                  document.getElementById("myBtn").style.display = "none";
              }
            
          }
      
          // Cliccando il bottone, si torna su 
          function topFunction() {
          
              $('html, body').animate({scrollTop:0}, 'slow');
          }
        </script>
      
        <!--footer-->
        <div class="row">
          <div class="col-lg-10"></div>
          <div class="col-lg-2">
            <button onclick="topFunction()" id="myBtn" title="Go to top">Torna su</button>
          </div>
        </div> 

        <footer id="footer">
     
        
            <div class="container">
            <!--loghi e immagini-->
            <div class="row icon_center">
              <div class="col-lg-3 col-md-3 col-sm-3 col-12 padimg">
                <a th:href="@{/home}" data-bs-toggle="backtop" class="back-to-top">
                  <img th:src="@{static/image/logofooter.png}" width="150px" heigth="auto" id="position" />
                </a>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-3 col-12 padimg">
                <img th:src="@{static/image/leidalogobianco.png}" width="120px" heigth="auto" />
              </div>
              <div class="col-lg-3 col-md-3 col-sm-3 col-12 padimg">
                <img th:src="@{static/image/enpalogo.png}" width="80px" heigth="auto" />
              </div>
              <div class="col-lg-3 col-md-3 col-sm-3 col-12 padimg">
                <img th:src="@{static/image/ancdvlogo.png}" width="80px" heigth="auto"/>
              </div>
            </div>
             
          
              <!--cotenuto footer-->
              <div class="row footer-align padcontent">
                  
                <div class="col-lg-3 col-md-3 col-sm-3 col-12"><h6>Recapiti e contatti</h6>
                  <div class="col-12">
                    <ul class="elenco">
                      <li>Aperti dal lunedì alla domenica<br>Orario: 10:00 - 18:00</li>
                      <li> Email: amicia4zampe@gmail.com </li>
                      <li>Tel: 06 98875859</li>
                    </ul></div></div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-12"><h6></h6></div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-12"><h6>Informazioni</h6>
                  <div class="col-12">
                    <ul class="elenco">
                      <li><a class="linkstyle" th:href="@{/privacy}" target="_blank">Privacy policy</a></li>
                      <li><a class="linkstyle" th:href="@{/cookie}" target="_blank">Cookie policy</a></li>
                      <li><a class="linkstyle" th:href="@{/faq}" target="_blank">FAQ</a></li>
                     <!-- <li><a class="linkstyle" href="">Termini e condizioni</a></li> -->
                    </ul>
                  </div></div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-12"><h6></h6></div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-12"><h6>Link utili</h6>
                  <div class="col-12">
                    <ul class="elenco">
                      <li><a class="linkstyle" th:href="@{/chiSiamo}">Chi siamo</a></li>
                      <li><a class="linkstyle" th:href="@{/adozioni}">Adotta un cane</a></li>
                      <li><a class="linkstyle" th:href="@{/donazioni}">Donazioni</a></li>
                      <li><a class="linkstyle" th:href="@{/riservata}">Accesso staff</a></li>
                    </ul>
                  </div></div>
              </div>
              <br>
               
              <div class="row footer_center">
                <div class="col-lg-2 col-md-2 col-sm-2 col-12"></div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-12">
                  <p>Amici a 4 zampe S.R.L. Via della Magliana, 856 - 00148 Roma (RM), IT P.IVA IT09677741218 
                  </p>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-12"></div>
              </div>
              
              <div class="row footer_center">
                <div class="col-lg-4 col-md-4 col-sm-4 col-12"></div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-12">
                  <p> © 2022 Jarm68. All rights reserved.
                  </p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-12"></div>
              </div>
            
            </div>
          
          
          </footer>
    </div>
</body>

</html>  