<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="ISO-8859-1">
		<title>Insert title here</title>
	</head>
	<body>
		<form action="riservata/scelta" method="POST">
			<label for="scelta" th:text="#{label.scelta} + ':'"></label>
			<select id="scelta" name="scelta">
				<option th:value="0" th:text="#{label.nuovo}"></option>
				<option th:each="c : ${cani}" th:value="${c.id}" th:text="${c.nome}" th:selected="${cane.id == c.id}"></option>
			</select>
			<input type="submit" th:value="#{button.seleziona}">
		</form>
		
		<br><br>
	
		<form action="riservata/salva" method="POST">
					<input type="hidden" id="id" name="id" th:value="${cane.id}">
					<label for="nome" th:text="#{label.nome}"></label>
					<input type="text" id="nome" name="nome" required="required" th:value="${cane.nome}">
					<br>
					<label for="razza" th:text="#{label.razza} "></label>
					<input type="text" id="razza" name="razza" required="required" th:value="${cane.razza}">
					<br>
					<label for="eta" th:text="#{label.eta}"></label>
					<select id="eta" name="eta">
							<option th:value="1" th:text="1" th:selected="${cane.eta == 1}"></option>
							<option th:value="2" th:text="2" th:selected="${cane.eta == 2}"></option>
							<option th:value="3" th:text="3" th:selected="${cane.eta == 3}"></option>
					</select>
					<br>
					<label for="sesso" th:text="#{label.sesso}"></label>
					<select id="sesso" name="sesso">
							<option th:value="M" th:text="M" th:selected="${cane.sesso.equals('M')}"></option>
							<option th:value="F" th:text="F" th:selected="${cane.sesso.equals('F')}"></option>
					</select>
					<br>
					<label for="sterilizzazione" th:text="#{label.sterilizzazione}"></label>
					<input type="radio" name="sterilizzazione" th:text="SI" th:value="true" th:checked="${cane.sterilizzazione}">
            		<input type="radio" name="sterilizzazione" th:text="NO" th:value="false" th:checked="${!cane.sterilizzazione}">
            		<br>
					<input type="checkbox" name="vaccinazioni" class="vax" th:value="#{vaccinazioni.parvovirus}" th:checked="${cane.vaccinazioni.contains('Parvovirus')}">
					<label th:text="#{vaccinazioni.parvovirus}"></label>
					<input type="checkbox" name="vaccinazioni" th:value="#{vaccinazioni.cimurro}" th:checked="${cane.vaccinazioni.contains('Cimurro')}">
					<label th:text="#{vaccinazioni.cimurro}"></label>
					<input type="checkbox" name="vaccinazioni" th:value="#{vaccinazioni.epatite}" th:checked="${cane.vaccinazioni.contains('Epatite')}">
					<label th:text="#{vaccinazioni.epatite}"></label>
					<input type="checkbox" name="vaccinazioni" th:value="#{vaccinazioni.leptospirosi}" th:checked="${cane.vaccinazioni.contains('Leptospirosi')}">
					<label th:text="#{vaccinazioni.leptospirosi}"></label>
					<input type="checkbox" name="vaccinazioni" th:value="#{vaccinazioni.rabbia}" th:checked="${cane.vaccinazioni.contains('Rabbia')}">
					<label th:text="#{vaccinazioni.rabbia}"></label>
					<input type="checkbox" name="vaccinazioni" th:value="#{vaccinazioni.bordetella}" th:checked="${cane.vaccinazioni.contains('Bordetella')}">
					<label th:text="#{vaccinazioni.bordetella}"></label>
					<input type="checkbox" name="vaccinazioni" th:value="#{vaccinazioni.influenza}" th:checked="${cane.vaccinazioni.contains('Influenza')}">
					<label th:text="#{vaccinazioni.influenza}"></label>
					<input type="checkbox" name="vaccinazioni" th:value="#{vaccinazioni.lyme}" th:checked="${cane.vaccinazioni.contains('Lyme')}">
					<label th:text="#{vaccinazioni.lyme}"></label>
					<input type="checkbox" name="vaccinazioni" th:value="#{vaccinazioni.leishmania}" th:checked="${cane.vaccinazioni.contains('Leishmania')}">
					<label th:text="#{vaccinazioni.leishmania}"></label>
					<br>
					<label for="microchip" th:text="#{label.microchip}"></label>
					<input type="radio" name="microchip" th:text="SI" th:value="true" th:checked="${cane.microchip}">
            		<input type="radio" name="microchip" th:text="NO" th:value="false" th:checked="${!cane.microchip}">
					<br>
					<label for="descrizione" th:text="#{label.descrizione}"></label>
					<input type="text" id="descrizione" name="descrizione" required="required" th:value="${cane.descrizione}">
					<br>
					<label for="arrivo" th:text="#{label.data}"></label>
					<input type="date" id="arrivo" name="arrivo" required="required" th:value="${cane.arrivo}">
					<br>
					<input type="submit" th:value="#{button.salva}">
					<a th:href="@{riservata/elimina(id=${cane.id})}" th:text="#{button.elimina}"></a>
		</form>
	</body>
</html>